@import "custom";

$dimension: 4em;

.add-todo-form {
  padding-bottom: 2.5em;
  border-radius: 0.5em;
  background-color: $clr-dark;
  opacity: 0.98;
  margin: 0.5em;
  box-shadow: 0 0 20px 0 $clr-darkest;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
    padding: 1em;

    .btn-text-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5em;
      width: 100%;

      .material-symbols-outlined {
        color: #fff;
      }

      .task-item-input {
        width: 100%;
        height: 1.2em;
        font-size: 1.2em;
        border: none;
      }

      .task-item-input::placeholder {
        color: rgba(255, 255, 255, 0.545);
      }

      .task-item-input:focus {
        border: none;
        outline: none;
        color: #fff;
        font-weight: 600;
      }

      .task-item-input:hover {
        cursor: text;
      }
    }

    .params-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 0.5em;
      width: 100%;

      .add-to-myDay-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }

      .due-date-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5em;

        input::-webkit-calendar-picker-indicator {
          filter: invert(1);
          cursor: pointer;
        }
      }
    }

    input {
      background-color: transparent;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
    }

    label {
      font-weight: 600;
      color: #fff;
      cursor: pointer;
    }
  }
  p {
    color: rgb(255, 56, 56);
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 1em;
  }
}

.add-todo-btn-container {
  padding: 1em;
  background-color: transparent;

  .add-todo-btn {
    width: $dimension;
    height: $dimension;
    background-color: $clr-accent;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 5px 0px rgb(0 0 0/ 0.4);
    transition: filter 200ms ease-in-out;
  }

  .add-todo-btn::before {
    content: "+";
    position: absolute;
    color: white;
    font-size: 2.5em;
    font-weight: 600;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .add-todo-btn:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }
}

.add-btn-hide {
  display: none;
}

.hide-form {
  display: none;
}
