@import "config";

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.add-todo {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  width: min(600px, 100%);
}

.add-todo .add-todo-btn-container {
  position: fixed;
  right: 0;
  bottom: 0;
}
