@import "custom";

.nav-list {
  font-weight: 600;
  padding: 1em 0;
  background-color: $clr-light;
  display: none;

  .container {
    text-align: center;
    line-height: 2;

    display: grid;
    gap: 1em;

    ul {
      display: grid;

      a {
        text-decoration: none;
      }

      a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    hr {
      width: 80%;
      margin: 0 auto;
    }

    .projects-wrapper {
      p {
        font-size: 1.4em;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }

    .add-project-wrapper {
      form {
        .add-project-input {
          width: 80%;
          margin: 0 auto;
          text-align: center;
        }

        .proj-input-hide {
          display: none;
        }
      }

      .add-project-btn {
        position: relative;
        right: 0.5ch;
      }

      .add-project-btn:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.show {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
    min-width: 30ch;

    .container {
      text-align: right;
      padding: 2em 1.5em 0.5em 1.5em;

      hr {
        text-align: end;
        width: 100%;
      }

      .add-project-wrapper {
        form {
          .add-project-input {
            width: 262.078px;
            margin: 0;
            text-align: end;
          }
        }
      }
    }
  }
}
