@import "custom";

.projects-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;

  .trash-btn {
    color: rgb(255, 70, 70);
    position: absolute;
    left: -24px;
  }

  span:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .projects-content {
    a {
      width: 100%;
    }
    width: 100%;
    margin: 0;
    position: relative;

    .trash-btn {
      position: static;
    }
  }
}
