@import "custom";

.to-do-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;

  padding: 1em 1em;
  background-color: $clr-dark;
  border-radius: 0.4em;
  min-width: 100%;

  .complete-btn {
    position: relative;
  }

  .complete-btn::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .impt-active {
    fill: white;
  }

  & > * {
    color: #fff;
  }

  .content-wrapper {
    margin-right: auto;
    width: 100%;

    h3 {
      word-break: break-word;
    }

    .details-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 2em;

      p {
        font-size: 0.8em;
        color: #fff;
      }
    }
  }

  .content-wrapper > * {
    color: #fff;
  }

  .trash-btn {
    font-size: 1.7em;
    color: rgb(255, 80, 80);
  }

  .impt-btn {
    font-size: 1.8em;
  }

  span:hover {
    cursor: pointer;
  }

  .impt-active {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}
